.content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

table {
  margin: 2rem auto 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 1rem 2rem;
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
