<main class="main">
  <div class="content">
    <p class="text-lg font-semibold text-gray-700 mb-4">{{ message }}</p>

    <input
      type="file"
      accept=".json"
      (change)="onFileUpload($event)"
    />

    <div *ngIf="data.length" class="overflow-x-auto rounded-lg shadow-md">
      <table class="min-w-full divide-y divide-gray-200 bg-white">
        <thead class="bg-gray-50">
          <tr>
            <th
              *ngFor="let header of headers"
              scope="col"
            >
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let item of paginatedData" class="hover:bg-gray-100">
            <td
              *ngFor="let header of headers"
            >
              {{ item[header] }}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mt-32 flex justify-center space-x-3">
        <button
          (click)="previousPage()"
          [disabled]="currentPage === 1"
          style="margin-top: 20px;"
        >
          <<
        </button>

        <button
          *ngFor="let _ of [].constructor(totalPages); let i = index"
          (click)="goToPage(i + 1)"
          [class.font-bold]="currentPage === i + 1"
        >
          {{ i + 1 }}
        </button>

        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
          style="margin-top: 20px;"
        >
          >>
        </button>
      </div>
    </div>
  </div>
</main>

<router-outlet />
